@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

$font-body:"Roboto",sans-serif;
$font-display: "Roboto slab";
$color-desktop:#14274e;
$color-portfolio:#394867;
$color-contact:#9ba4b4;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-body;
  color:$color-contact;
}
* {
  text-decoration: none;
}
