@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #9ba4b4;
}

* {
  text-decoration: none;
}

.about-page__name {
  animation: type 3s steps(12);
  overflow: hidden;
  white-space: nowrap;
  font-family: "Roboto slab";
  color: #FDF1D6;
  font-size: 30px;
}

@keyframes type {
  0% {
    width: 0ch;
    100% {
      width: 12ch;
    }
  }
}
.about-page__title {
  font-family: "Roboto slab";
  color: #9ba4b4;
  font-size: 20px;
}

.about-page__intro {
  font-family: "Roboto slab";
  color: #9ba4b4;
  font-size: 10px;
}

.portfolio-page__grid {
  margin-left: 50px;
  height: 250px;
  width: 300px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.portfolio-page__grid .far {
  font-size: 75px;
  grid-row: 1/2;
  grid-column: 1/2;
}
.portfolio-page__grid .grid-heading {
  animation: type 3s steps(9);
  overflow: hidden;
  white-space: nowrap;
  font-size: 25px;
  grid-row: 2/2;
}
@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 9ch;
  }
}
.portfolio-page__grid .file1 {
  font-size: 50px;
  grid-column: 3/4;
}
.portfolio-page__grid .file2 {
  font-size: 50px;
  grid-column: 3/4;
}
.portfolio-page__grid .file3 {
  font-size: 50px;
  grid-column: 3/4;
}

.contact-page h3 {
  padding-top: 20px;
  padding-left: 20px;
  color: #14274e;
}
.contact-page p {
  color: black;
}
.contact-page .contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.contact-page .footer {
  padding-bottom: 30px;
  height: 20px;
  background-color: #14274e;
}
.contact-page .icon {
  font-size: 25px;
  color: black;
}