@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #9ba4b4;
}

* {
  text-decoration: none;
}

.about-page__name {
  animation: type 3s steps(12);
  overflow: hidden;
  white-space: nowrap;
  font-family: "Roboto slab";
  color: #FDF1D6;
  font-size: 30px;
}

@keyframes type {
  0% {
    width: 0ch;
    100% {
      width: 12ch;
    }
  }
}
.about-page__title {
  font-family: "Roboto slab";
  color: #9ba4b4;
  font-size: 20px;
}

.about-page__intro {
  font-family: "Roboto slab";
  color: #9ba4b4;
  font-size: 10px;
}

.portfolio-page__grid {
  margin-left: 75px;
  height: 250px;
  width: 300px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.portfolio-page__grid .far {
  font-size: 75px;
  grid-row: 1/2;
  grid-column: 1/2;
}
.portfolio-page__grid .far:hover {
  color: aqua;
  transform: scale(0.5);
}
.portfolio-page__grid .grid-heading {
  animation: type 3s steps(9);
  overflow: hidden;
  white-space: nowrap;
  font-size: 25px;
  grid-row: 2/2;
}
@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 9ch;
  }
}
.portfolio-page__grid .file1 {
  font-size: 50px;
  grid-column: 3/4;
}

.file1:hover {
  transform: rotate(90deg) scale(2) translate(-50%) translate(50%);
}

.file2 {
  font-size: 50px;
  grid-column: 3/4;
}

.file2:hover {
  transform: rotate(90deg) scale(2) translate(-50%) translate(50%);
}

.file3 {
  font-size: 50px;
  grid-column: 3/4;
}

.file3:hover {
  transform: rotate(90deg) scale(2) translate(-50%) translate(50%);
}

h3 {
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  color: #14274e;
}

p {
  margin-left: 30px;
  margin-right: 30px;
  color: #14274e;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10px;
  padding: 5vh;
  height: 20px;
  background-color: #14274e;
}

.icon {
  font-size: 30px;
  color: #9ba4b4;
}