@use "./base" as *;




.about-page__name {
  animation: type 3s steps(12);
  overflow: hidden;
  white-space: nowrap;
font-family: $font-display;
color: #FDF1D6;
font-size: 30px;


}
@keyframes type {
  0% {
    width: 0ch;

   100% {
     width:12ch;
   } 
  }
}


.about-page__title {
  
  font-family: $font-display;
  color: $color-contact;
  font-size: 20px;
}
.about-page__intro {
  font-family: $font-display;
  color: $color-contact;
  font-size: 10px;
}
  
 .portfolio-page__grid{
   margin-left: 50px;
  height: 250px;
   width: 300px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  .far {
    font-size: 75px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .grid-heading {
    animation: type 3s steps(9);
    overflow:hidden;
    white-space: nowrap;
    font-size: 25px;
    grid-row: 2 /2;
  }
  @keyframes type {
    0% {
      width: 0ch;
    }
    100% {
      width:9ch;
    }

    
  }
  
  .file1 {
    font-size: 50px;
    grid-column:3 / 4;
  }
  .file2 {
    font-size: 50px;
    grid-column:3 / 4;
  }
  .file3 {
    font-size: 50px;
    grid-column:3 / 4;
  }

} 

.contact-page{
 h3 {
    padding-top: 20px;
    padding-left: 20px; 
    color:$color-desktop;
  }

  p {
    color: black;
  }
  .contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  
  .footer {
    padding-bottom:30px;
    height: 20px;
    background-color:$color-desktop;
    
  }
  .icon {
    
    font-size: 25px;
    color: black;

  }
}





