@use "./base" as *;

body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.about-page {
  background-image: url(./images/joshua-hanson-D3yfiuKCP_I-unsplash.jpg);
  background-size: 100%;
  height: 85vh;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}
.portfolio-page {
  background-color: #fdf1d6;
  width: 100%;
  height: fit-content;
  padding: 1rem;
}
.Contact-page {
  width: 100%;
  height: fit-content;
  background-color: #fdf1d6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 600px) {
  .about-page {
    width: 100%;
  }
  .portfolio-page {
    width: 100%;
    -webkit-order: 1;
    order: 1;
  }
  .portfolio-grid {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Contact-page {
    width: 100%;
    -webkit-order: 3;
    order: 3;
  }
}
@media (min-width: 600px) {
  .about-page {
    width: 100%;
    height: 60%;
    -webkit-order: 2;
    order: 2;
  }

  .portfolio-page {
    width: 100%;
    -webkit-order: 1;
    order: 1;
  }
  .portfolio-grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .Contact-page {
    width: 100%;
    -webkit-order: 3;
    order: 3;
  }
}

@media (min-width: 800px) {
  .about-page {
    width: 100%;
    height: 100%;
  }
  .portfolio-page {
    width: 100%;
  }
  .portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .Contact-page {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .about-page {
    width: 100%;
    height: 100%;
  }
  .portfolio-page {
    width: 100%;
  }
  .portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .Contact-page {
    width: 100%;
  }

  // .about-page__title {
  //   font-size: 40px;
  // }
}
