@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #9ba4b4;
}

* {
  text-decoration: none;
}

body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.navigation {
  background-color: #14274e;
  position: fixed;
  height: 7vh;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  border: 2px solid #14274e;
}

.nav-link {
  font-family: #14274e;
  font-size: 20px;
  font-weight: bold;
  color: #fdf1d6;
}

.about-page {
  background-image: url(./images/joshua-hanson-D3yfiuKCP_I-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-page {
  background-color: #fdf1d6;
  width: 100%;
  align-items: center;
}

.Contact-page {
  width: 100%;
  background-color: #fdf1d6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 600px) {
  .about-page {
    width: 60%;
    -webkit-order: 2;
    order: 2;
  }

  .portfolio-page {
    width: 40%;
    -webkit-order: 1;
    order: 1;
  }

  .Contact-page {
    width: 100%;
    -webkit-order: 3;
    order: 3;
  }
}
@media (min-width: 800px) {
  .portfolio-page {
    width: 20%;
  }

  .Contact-page {
    width: 20%;
  }
}