@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #9ba4b4;
}

* {
  text-decoration: none;
}

.navigation {
  background-color: #14274e;
  height: 7vh;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  border: 2px solid #14274e;
}

.nav-link {
  position: fixed;
  font-family: #14274e;
  font-size: 20px;
  font-weight: bold;
  color: #fdf1d6;
}

.about-page {
  background-image: url(./images/altumcode-P2SkP_PXhlU-unsplash.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-page {
  background-color: #fdf1d6;
  height: 100vh;
  padding-left: 100px;
  padding-top: 50px;
  align-items: center;
}

.Contact-page {
  height: 100vh;
  background-color: #fdf1d6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}