@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #9ba4b4;
}

* {
  text-decoration: none;
}

.about-page_header-container {
  position: absolute;
  top: 50%;
  left: 50%;
}

.about-page__name {
  text-align: center;
  position: relative;
  transform: translate(-50%, -50%);
  animation: type 3s steps(12);
  overflow: hidden;
  white-space: nowrap;
  font-family: "Roboto slab";
  color: #fdf1d6;
  font-size: 40px;
}

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 12ch;
  }
}
.about-page__title {
  font-family: "Roboto slab";
  color: #fdf1d6;
  font-size: 30px;
  position: relative;
  text-align: center;
  transform: translate(-50%, -50%);
}

.portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.grid-heading {
  animation: type 3s steps(9);
  overflow: hidden;
  white-space: nowrap;
  font-family: "Roboto slab";
  font-size: 30px;
  color: #14274e;
  margin-bottom: 2rem;
}

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 9ch;
  }
}
img {
  height: 25rem;
  width: 20rem;
}

html,
body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 800px) {
  #mbl {
    /* 100% width will work for mobile menu, 300px for example */
    width: 100%;
    font-family: "Roboto slab";
    font-size: 16px;
    position: fixed;
  }
  #mbl label {
    display: block;
    padding: 15px 20px;
    margin: 0;
    position: relative;
    z-index: 2;
    cursor: pointer;
    color: #2e5ab3;
    background: #14274e;
    font-size: 24px;
  }
  #mbl span.fa {
    color: rgba(255, 255, 255, 0.5);
    float: right;
  }
  #mbl span.fa:hover {
    color: rgba(255, 255, 255, 0.7);
  }
  #mbl input {
    display: none;
  }
  #mbl input:checked ~ article {
    transition: height 0.5s ease-in-out;
    height: 150px;
  }
  #mbl article {
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 0;
    transition: height 0.3s ease-in-out;
  }
  #mbl article ul {
    background: #1e3b77;
    height: 100%;
    margin: 0;
    list-style: none;
  }
  #mbl article ul li {
    padding: 14px;
    padding-left: 25px;
    border-top: 2px solid #112142;
  }
  #mbl article ul li:first-child {
    padding-top: 16px;
    border-top: 0;
  }
  #mbl article ul li:hover {
    background: #234387;
  }
  #mbl article ul li a {
    color: #fdf1d6;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }
}
@media screen and (min-width: 800px) {
  #mbl {
    /* 100% width will work for mobile menu, 300px for example */
    width: 100%;
    font-family: "Roboto slab";
    font-size: 16px;
    position: fixed;
  }
  #mbl label {
    display: none;
  }
  #mbl span.fa {
    display: none;
  }
  #mbl input {
    display: none;
  }
  #mbl ul {
    background: #14274e;
    height: 10vh;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  #mbl ul li {
    padding: 14px;
    padding-left: 25px;
    border-top: 2px solid #112142;
  }
  #mbl ul li:first-child {
    padding-top: 16px;
    border-top: 0;
  }
  #mbl ul li:hover {
    background: #234387;
  }
  #mbl ul li a {
    color: #fdf1d6;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
  }
}
#mblBtm {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 5px;
  overflow: hidden;
  background: black;
}

h3 {
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  color: #14274e;
}

p {
  margin-left: 30px;
  margin-right: 30px;
  color: #14274e;
}

.contact-grid {
  display: flex;
  background-color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 10vh;
  background-color: #14274e;
  color: #2e5ab3;
  font-size: 24px;
  border-bottom: 4px solid black;
}

.icon {
  font-size: 30px;
  color: #fdf1d6;
}

body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.about-page {
  background-image: url(./images/joshua-hanson-D3yfiuKCP_I-unsplash.jpg);
  background-size: 100%;
  height: 85vh;
  background-repeat: no-repeat;
  width: 100%;
}

.portfolio-page {
  background-color: #fdf1d6;
  width: 100%;
  height: fit-content;
  padding: 1rem;
}

.Contact-page {
  width: 100%;
  height: fit-content;
  background-color: #fdf1d6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 600px) {
  .about-page {
    width: 100%;
  }

  .portfolio-page {
    width: 100%;
    -webkit-order: 1;
    order: 1;
  }

  .portfolio-grid {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Contact-page {
    width: 100%;
    -webkit-order: 3;
    order: 3;
  }
}
@media (min-width: 600px) {
  .about-page {
    width: 100%;
    height: 60%;
    -webkit-order: 2;
    order: 2;
  }

  .portfolio-page {
    width: 100%;
    -webkit-order: 1;
    order: 1;
  }

  .portfolio-grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .Contact-page {
    width: 100%;
    -webkit-order: 3;
    order: 3;
  }
}
@media (min-width: 800px) {
  .about-page {
    width: 100%;
    height: 60%;
  }

  .portfolio-page {
    width: 100%;
  }

  .portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .Contact-page {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .about-page {
    width: 100%;
    height: 60%;
  }

  .portfolio-page {
    width: 100%;
  }

  .portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .Contact-page {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
