@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #9ba4b4;
}

* {
  text-decoration: none;
}

.about-page__name {
  animation: type 3s steps(12);
  overflow: hidden;
  white-space: nowrap;
  font-family: "Roboto slab";
  color: #fdf1d6;
  font-size: 30px;
}

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 12ch;
  }
}
.about-page__title {
  font-family: "Roboto slab";
  color: #9ba4b4;
  font-size: 20px;
}

.grid-heading {
  animation: type 3s steps(9);
  overflow: hidden;
  white-space: nowrap;
  font-family: "Roboto slab";
  font-size: 30px;
  color: #14274e;
}

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 9ch;
  }
}
img {
  height: 200px;
  width: 200px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fdf1d6;
}

.modal-content {
  background-color: #fdf1d6;
  margin: auto;
  padding: 20px;
  border: 1px solid #14274e;
  width: 80%;
}

.close {
  color: #14274e;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

h3 {
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  color: #14274e;
}

p {
  margin-left: 30px;
  margin-right: 30px;
  color: #14274e;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 7vh;
  padding: 10px;
  background-color: #14274e;
  color: #2e5ab3;
  font-size: 24px;
  border-bottom: 4px solid black;
}

.icon {
  font-size: 30px;
  color: #2e5ab3;
}

body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.about-page {
  background-image: url(./images/joshua-hanson-D3yfiuKCP_I-unsplash.jpg);
  background-size: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-page {
  background-color: #fdf1d6;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.Contact-page {
  width: 100%;
  height: 100vh;
  background-color: #fdf1d6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

html,
body {
  margin: 0;
  padding: 0;
}

#mbl {
  /* 100% width will work for mobile menu, 300px for example */
  width: 100%;
  font-family: "Roboto slab";
  font-size: 16px;
  position: fixed;
}
#mbl label {
  display: block;
  padding: 15px 20px;
  margin: 0;
  position: relative;
  z-index: 2;
  cursor: pointer;
  color: #2e5ab3;
  background: #14274e;
  font-size: 24px;
}
#mbl span.fa {
  color: rgba(255, 255, 255, 0.5);
  float: right;
}
#mbl span.fa:hover {
  color: rgba(255, 255, 255, 0.7);
}
#mbl input {
  display: none;
}
#mbl input:checked ~ article {
  transition: height 0.5s ease-in-out;
  height: 150px;
}
#mbl article {
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 0;
  transition: height 0.3s ease-in-out;
}
#mbl article ul {
  background: #1e3b77;
  height: 100%;
  margin: 0;
  list-style: none;
}
#mbl article ul li {
  padding: 14px;
  padding-left: 25px;
  border-top: 2px solid #112142;
}
#mbl article ul li:first-child {
  padding-top: 16px;
  border-top: 0;
}
#mbl article ul li:hover {
  background: #234387;
}
#mbl article ul li a {
  color: #fdf1d6;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

#mblBtm {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 5px;
  overflow: hidden;
  background: black;
}

@media (min-width: 600px) {
  .about-page {
    width: 60%;
    -webkit-order: 2;
    order: 2;
  }

  .portfolio-page {
    width: 40%;
    -webkit-order: 1;
    order: 1;
  }

  .Contact-page {
    width: 100%;
    -webkit-order: 3;
    order: 3;
  }
}
@media (min-width: 800px) {
  .portfolio-page {
    width: 20%;
  }

  .Contact-page {
    width: 20%;
  }
}

/*# sourceMappingURL=main.css.map */
